<div class="content-gallery">
    <div class="gallery-flex">
        <div>
            <div>
                <img class="images" src="../../assets/yuca.jpg">
            </div>
            <div>
                <p class="parrafo-paquete">
                    Todo de yuca
                </p>
            </div>
            <div>
                <p class="parrafo-country"><img class="marcador" src="../../assets/marcador.png">Acajutla</p>
            </div>
            <hr>
            <div>
                <p class="p-paquete">Antojitos Doña Lupe</p>

            </div>
        </div>
        <div>
            <div>
                <img class="images" src="../../assets/atoles.png">
            </div>
            <div>
                <p class="parrafo-paquete">
                    Atoles variados
                </p>
            </div>
            <div>
                <p class="parrafo-country"><img class="marcador" src="../../assets/marcador.png">Juayua</p>
            </div>
            <hr>
            <div>
                <p class="p-paquete">Bendición de Dios</p>

            </div>
        </div>
        <div>
            <div>
                <img class="images" src="../../assets/pupusas.png">
            </div>
            <div>
                <p class="parrafo-paquete">
                    Pupusas gorditas
                </p>
            </div>
            <div>
                <p class="parrafo-country"><img class="marcador" src="../../assets/marcador.png">Apaneca</p>
            </div>
            <hr>
            <div>
                <p class="p-paquete">Pupuseria de Dani</p>
            </div>
        </div>
        
    </div>
</div>


<div class="content-footer">
    <div class="center-footer">
        <div>
            <div class="img-info">
                <img class="img-footer" src="../../../assets/revisar.png">
                <h4>{{'experiencia.texto'| translate}}</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus optio nulla, culpa numquam dolores
                    veniam placeat beatae quo sed sapiente eaque esse ea recusandae harum reiciendis ipsum nemo fuga!
                    Natus.</p>
            </div>

        </div>
        <div>
            <div class="img-info">
                <img class="img-footer" src="../../../assets/telefono.png">
                <h4>{{'movil.texto' | translate}}</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus optio nulla, culpa numquam dolores
                    veniam placeat beatae quo sed sapiente eaque esse ea recusandae harum reiciendis ipsum nemo fuga!
                    Natus.</p>
            </div>

        </div>
        <div>
            <div class="img-info">
                <img class="img-footer" src="../../../assets/lupa.png">
                <h4>{{'todo.texto' | translate}}</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus optio nulla, culpa numquam dolores
                    veniam placeat beatae quo sed sapiente eaque esse ea recusandae harum reiciendis ipsum nemo fuga!
                    Natus.</p>
            </div>
        </div>
    </div>
</div>