.content-gallery{

    width: 100%;
    height: 500px;
  
    display: block;
    margin: 0px auto;
  }
  .gallery-flex {
    display: flex;
    flex-wrap: nowrap;
    margin: 20px;
  }
  .gallery-flex > div{
    width: 40%;
    height: 400px;
    margin: 10px;
    border: 1px solid rgba(128, 128, 128, 0.323);
    border-radius: 10px;
  }
  
  .parrafo-paquete{
  
    font-size: 15px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
  }
  
  .marcador{
    width: 30px;
  }
  
  .parrafo-country{
    text-align: center;
  }
  
  .p-paquete{
   text-align: center;
   font-size: 15px;
  }
  
  .info-paquetes{
    width: 98%;
    height: 100px;
    display: block;
    margin: 0px auto;
    border: 1px solid rgba(128, 128, 128, 0.357);
    border-radius: 10px;
  }
  
  .center-info{
    width: 100%;
    display: flex;
    justify-content: center;
    
  }
  
  .center-info > div{
    width: 30%;
    margin: 10px;
  }
  
  .btn-todos{
    display: block;
    margin: auto;
  }
  
  .parrafo-especial{
    font-size: 20px;
    color: rgba(128, 128, 128, 0.765);
    font-family: 'Lato', sans-serif;
  }

  .images{
      width: 450px;
      display: block;
      margin: 0px auto;
  }

  .content-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 300px;
}

.center-footer{
    width: 90%;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.center-footer > div{
    width: 30%;
    height: 300px;
    display: flex;
    margin: 20px;
    border: 1px solid rgba(128, 128, 128, 0.432);
    border-radius: 10px;
  
}

.img-footer{

    width: 100px;
    height: 100px;
    display: block;
    margin: 0px auto;
    margin-top: 10px;
}

.img-info{
  display: inline-block;
  width: 100%;
}

.img-info > h4{
  text-align: center;
  margin-top: 10px;
}

.img-info > p{
  text-align: center;
  margin-top: 10px;
}